@tailwind base;
@tailwind components;
@tailwind utilities;


/* App.css */
@font-face {
  font-family: 'Asap';
  src: url('./fonts/Asap-VariableFont_wdth\,wght.ttf') format('truetype'); /* Adjust the path and format accordingly */
}

body {
  height: ;
  font-family: 'Asap';
  background: #262C3A;
  color: #84F7D8;
}

.nutralme {
  border: 1px solid #587481;
}

.menu-active{
  border: 4px solid gold;
}

.menu-active-indicator{
    transform: rotate(-180deg);
    border-radius: 8px 0px 0px 8px;
    width: 8px;
    height: 20px;
    left: 0;
    background: #587481;
}